includeConfig "$baseDir/conf/aws_batch.config"

manifest {
  name = 'CCTyper'
  author = 'Xiandong Meng'
  homePage = 'https://github.com/FischbachLab/nf-cctyper'
  description = 'Automatic detection and subtyping of CRISPR-Cas operons'
  mainScript = 'main.nf'
  version = '1.0.0'
  defaultBranch = 'main'
}

process {
  maxRetries = 3
  executor = 'awsbatch'
  queue = "default-maf-pipelines"
  cleanup = true
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  cache = false
  maxRetries = 2
  maxErrors = '-1'
}

aws {
  region = "us-west-2"
}

params{
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them)
 * Each of the following parameters can be specified as command line options
 */
 /* 	Initialization
  --------------------------------*/
  project = "TEST"
  seedfile = ""
  outdir = "s3://genomics-workflow-core/Results/cctyper/"
  //container = '458432034220.dkr.ecr.us-west-2.amazonaws.com/cctyper:latest'
  container = 'quay.io/joacjo/cctyper'
}

docker {
    enabled = true
}

profiles {
  //awsbatch { includeConfig 'conf/awsbatch.config' }
  //conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  //singularity { singularity.enabled = true }
  //test { includeConfig 'conf/test.config' }
}


timeline {
  enabled = false
  overwrite = true
  file = "$params.outdir/execution_reports/timeline.html"
}

report {
  enabled = false
  overwrite = true
  file = "$params.outdir/execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.outdir/execution_reports/pipeline_dag.html"
}
